@import "../mailVariables.scss";
@import "../../variables.scss";

.css-mail-list {
  position: absolute;
  top: calc(#{$headerHeigh} - 1px);
  width: $contentWidth;
  .css-mail-element {
    cursor: pointer;
  }
}